<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Website</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/mdb.css">
    <link rel="stylesheet" href="css/main.css">
    <style>
        table{
            margin:0;
            padding:0;
             margin-top:60px ;
        }

        td{
            background-color: white;
            padding: 30px;
            
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <h1>Fitness <span>Club</span></h1>
            </div>
            <div class="menu">
                <a href="home">Home</a>
                <!-- <a href="">Account</a> -->
                <a href="mealplan">Meal Plans</a>
                <a href="logout">Logout</a>
            </div>
        </nav>
    </header>
    <table>
        <tr>
            <td> <iframe width="700" height="400" align="center" src=<%=a%> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
            <td><h1><%=b%></h1><br><br>
                <%=p%></td>
        </tr>
    </table>
   
</body>
</html>